  body{
    font-family: Arial;
    background-color: #023e8a;
    padding: 30px;
    color: #caf0f8
  }

  .app{
    max-width: 650px;
    margin: 0 auto 300px;
    background-color: #00b4d8       ;
    padding: 30px 30px;
    border-radius: 20px
  }

  h1{
    text-align: center;
  }

  h2{
    margin-bottom: 10px;
  }

  p {
    margin: 15px 0
  }