 body{
    font-family: Arial;
    background-color: #17131e;
    padding: 30px;
    color: #b7b7b7;
 }

 .app{
    max-width: 650px;
    margin: 0 auto 300px;
    background-color: #271f30;
    padding: 30px 30px;
    border-radius: 20px
 }

 h1{
    color: #e2c1ff;
    text-align: center;
 }

 h2{
    margin-bottom: 10px;
 }

 p {
    margin: 15px 0
 }
 .todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
 }

  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #382d45;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
 }

 .content {
    flex-grow: 1;
 }

  .action-buttons {
    display: flex;
    gap: 10px;
 }

  .completed {
    text-decoration: line-through;
    color: #8c52ff;
 }

 input{
    box-sizing: border-box;
 }

 button{
    background-color: #8c52ff;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: .8;
    transition: 1s;
 }

 button:hover{
    background-color: #6a34cc;
 }

 .todo-list{

 }

 .complete{
    background-color: #8c52ff;
 }

 .remove{
    background-color: #8c52ff;
 }

 .todo-form{
    padding-bottom: 1.5rem;
 }

 input{
    padding: 5px;
    margin-bottom: 10px;
    border: 1.5px solid #6c4caf;
    border-radius: 5px;
    width: 100%;
    background-color: #382d45;
    color: #ffffff;
 }

 .filter{
   border-bottom: 1px solid;
   margin-bottom: 20px;
   padding-bottom: 20px;
 }

 .filter select{
   background: #2b213a;
   color: #f5f5f5;
   border: 1px solid #6c4caf;
   border-radius: 8px;
   padding: 8px 10px;
   font-size: 1rem;
   outline: none;
   cursor: pointer;
   transition: 0.3s ease;
 }

 .filter select:hover {
  border-color: #9d6bff;
}

.filter-options{
   justify-content: space-between;
   gap: 3rem;
}

.filter-options div{
   flex: 1 1 0;
}

